.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    color: $white;
    font-size: 40px;
}

.subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: $white;
}